<!doctype html>
<html lang="th">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Sarabun font-->
  <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
    body{
      font-family: 'Sarabun', sans-serif;
    }
  </style>
  <title>บ้านรับน้อง - งานรับน้องก้าวใหม่</title>
</head>

<body>
  <div class="container mt-4">
    <h2>บ้านรับน้อง</h2>
    <p>ข้อมูลชื่อบ้านและสโลแกนของแต่ละบ้าน</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class='w-25 text-center'>ชื่อบ้าน</th>
          <th class='w-75 text-center'>สโลแกน</th>
        </tr>
      </thead>
      <tbody>
        {% for baan in baan_list %}
        <tr>
          <td>{{baan.name}}</td>
          <td>{{baan.slogan}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>